$base-gradient-button:  linear-gradient(to right top, #041124, #1f2d5a, #534692, #985bc3, #e968eb); 
$d : linear-gradient(to right top, #8637cc, #f80092, #ff5048, #ffa600, #c1eb12);
$base-gradient-button-hover: linear-gradient(to right top, #b537cc, #862ea6, #5b237f, #361759, #180733);
$base-gradient-background: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
$base-border-radius: 10px;
$base-background-color: #454655;